<section class="confirmation-page-container">
  <div class="thank-you">
    <div class="title-text">
      <h1>Thanks for your studio reservation.</h1>
      <h4>We are expecting you in the studio at the following dates and times.</h4>
    </div>
    <ul>
      <% @time_slots.each do |time_slot| %>
        <li>
        <p><%= time_slot.date %> from <%= time_slot.label %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="instructions">
    <h3>There are just a few more things you need to do.</h3>
    <ol>
      <li>
        <h2>1</h2>
        <p>Check your email.  You've been invited to make a new account as a 
        <a href="http://lockitron.com" target=_blank>Lockitron</a> user.  Please 
        follow the link in that email to setup your account.
      </li>
      <li>
        <h2>2</h2>
        <p>When the time comes for your first booking, vist the studio.  It's located 
        at <a href="https://goo.gl/maps/pWg0w" target=_blank>100 Condor Street</a> on 
        the top floor in East Boston, MA.</p>
        <p>If you've never been here before, it's a good idea to watch <a href-"http://youtu.be/LZhPQ3hWP9o" target=_blank>this video</a> so you don't get lost coming in.</p>
      <li>
        <h2>3</h2>
        <p>When you arrive at the studio door during your reserved time, you'll be able
        to operate our wi-fi door lock, called Lockitron.  Just visit the link in your 
        confirmation email to open the door.  It's the one that looks like this 
        <a href="https://m.lockitron.com/" target=_blank>http://m.lockitron.com</a></p>
      </li>
      <li>
      <h2>4</h2>
        <p>Enjoy your jam, and please help keep our collaborative space clean by 
        picking up on your way out.</p>
      </li>
    </ol>
  </div>
</section>
