.booking-form-container {
  @include outer-container;
  padding-top: 140px;
  .form-title {
    @include span-columns(12);
    background-color: $light-red;
  }
}

.time-slots-container {
  @include outer-container;
  margin-top: 25px;
  .day-of-week {
    @include span-columns(1.7);
  }

  input[type=checkbox][disabled] + label {
    color: $light-gray;
  }
}

.user-info {
  @include outer-container;

  .form-column {
    @include span-columns(6);
    margin: 0;
    padding: 10px 10px;
  }

  .form-column-full-span {
    @include span-columns(12);
    margin: 0;
    padding: 0 10px;
  }
}
