.booking-form-container {
  @include outer-container;
  padding-top: 120px;
  .title-bar {
    @include span-columns(12);
    background-color: $red;
    color: white;
    padding: 5px 25px;
    margin-bottom: 30px;
  }
  .pagination {
    bottom: -130px;
    position: relative;
    #next {
      @include span-columns(.7);
      @include shift(10.5);
    }
    #prev {
      @include span-columns(.7);
      @include shift(.05);
    }
    .disabled {
      @include span-columns(.7);
      @include shift(.05);
      opacity: .5;
    }
  }
}

.time-slots-container {
  @include outer-container;
  @include shift(.8);
  .day-of-week {
    @include span-columns(1.6);
    font-weight: bold;
    margin-top: -60px;
    margin-bottom: 20px;
    background-color: darken($base-background-color, 3);
    border-radius: 15px;
    padding: 0 10px;
   
    p {
      margin: 20px 0 25px 5px;
    }

    .timeslot-label {
      font-weight: normal;
      font-size: .8em;
      position: relative;
      bottom: 27px;
      text-align: right;
      margin-right: 5px;
    }
  }

}

.user-info {
  @include outer-container;
  margin: 15px 20px 0 10px;

  .form-column {
    @include span-columns(4);
  }

}

.running-total {
  @include span-columns(4);
  margin-top: 10px;
  padding-left: 10px;
}

.submit-button {
  @include span-columns(3.9);
  margin-right: 10px;
}
