.header {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 120px;
  box-shadow: 10px 5px 5px gray;

  .main-logo {
    @include span_columns(6);
    margin-left: 20px;
    margin-top: 10px;
    height: 90px;
    background-image: image_url("shipyard_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
