@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-2q1o7r');
	src:url('icomoon.eot?#iefix-2q1o7r') format('embedded-opentype'),
		url('icomoon.woff?-2q1o7r') format('woff'),
		url('icomoon.ttf?-2q1o7r') format('truetype'),
		url('icomoon.svg?-2q1o7r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e602";
}
.icon-googleplus2:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
