<!DOCTYPE html>
<html>
  <head>
    <title>Livelock</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <section class="header">
    <h1>LiveLock</h1>
    <h3><em>Automated Access Control for Music Studios</em></h3>
  </section>

  <%= yield %>

  </body>
</html>
